.screen-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #241f20;
  .header {
    width: 100%;
    height: 169px;
    padding-top: 10px;
    background: #241f20;
    border-bottom: 10px solid #5c5859;
  }
  .main {
    position: absolute;
    top: 189px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex: 1;
    .left {
      width: 860px;
      flex: 0 0 860px;
      height: 100%;
      .left1 {
        height: 300px;
        padding-bottom: 20px;
      }
      .left2 {
        height: 320px;
        padding-bottom: 20px;
      }
      .left3 {
        height: 280px;
        padding-bottom: 20px;
      }
      .left4 {
        height: 230px;
        padding-bottom: 20px;
      }
      .left5 {
        height: 360px;
        padding-bottom: 20px;
      }
      .left6 {
        height: 360px;
        padding-bottom: 20px;
      }
    }
    .right {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 0 10px;
      width: auto;
      max-width: 2980px;
      height: 100%;
      .right-top {
        display: flex;
        align-items: center;
        width: 100%;
        height: 206px;
        margin-bottom: 20px;
        padding: 0 40px;
        color: #fff;
        background: #424446;
        box-sizing: border-box;
        .item-ground {
          display: flex;
          .item {
            display: flex;
            align-items: center;
            width: 635px;
            .icon {
              width: 185px;
              height: 185px;
              font-size: 160px;
            }
            .text-ground {
              margin-left: 40px;
              width: 410px;
              .title {
                font-size: 32px;
              }
              .en-title {
                font-size: 16px;
                letter-spacing: 1px;
                margin-top: 10px;
              }
              .value {
                font-family: DIN;
                font-size: 56px;
                font-weight: bolder;
                letter-spacing: 2px;
                margin-top: 10px;
              }
            }
          }
        }
        .project-ground {
          display: flex;
          justify-content: space-around;
          flex: 1;
          .project {
            text-align: center;
            .icon {
              width: 90px;
              height: 90px;
              font-size: 70px;
            }
            .text {
              font-size: 18px;
              margin-top: 10px;
            }
            .value {
              font-size: 28px;
              font-weight: 700;
              margin-top: 5px;
            }
          }
        }
      }
      .right-center {
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        .country-category {
          display: flex;
          justify-content: space-around;
          .country {
            width: 100%;
            height: 100%;
            line-height: 48px;
            text-align: center;
            background: #353941;
            font-size: 24px;
            color: #90a0ae;
            &.active {
              background-color: #90a0ae;
              color: #fff;
            }
            &:hover {
              background-color: #90a0ae;
              color: #fff;
            }
          }
        }
      }
      .right-bottom {
        display: flex;
        width: 100%;
        flex-grow: 1;
        .right-bottom-left {
          width: 1917px;
          .right-bottom-left1 {
            height: 999px;
          }
          .right-bottom-left2 {
            height: 80px;
            padding-top: 20px;
            .tolal-category {
              display: flex;
              justify-content: space-around;
              .tolal {
                width: 100%;
                height: 100%;
                line-height: 80px;
                text-align: center;
                background: #353941;
                font-size: 24px;
                color: #90a0ae;
                &.active {
                  background-color: #90a0ae;
                  color: #fff;
                }
                &:hover {
                  background-color: #90a0ae;
                  color: #fff;
                }
              }
            }
          }
          .right-bottom-left3 {
            margin-top: 10px;
            height: 350px;
          }
          .right-bottom-left4 {
            margin-top: 10px;
            height: 220px;
          }
        }
        .right-bottom-right {
          flex-grow: 1;
          width: 1117px;
          .right-bottom-right1 {
            padding-top: 10px;
            width: 100%;
            height: 999px;
          }
          .right-bottom-right2 {
            margin-top: 20px;
            width: 100%;
            height: 650px;
          }
        }
      }
    }
  }
}
.loading {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .text {
    font-size: 36px;
    color: #fff;
  }
}
